In [2]:
import pandas as pd

# Read SMILES from CSV
df = pd.read_csv('smiles.csv')

# Display the dataframe
df

                         smiles
0                             C
1                            CC
2                           CCC
3                          CCCC
4                          CCOC
5                        C1CCO1
6                         C1CC1
7                        C1CCC1
8                       C1CCCC1
9  CN1C=NC2=C1C(=O)N(C(=O)N2C)C